body{
    margin:0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.main-container{
    width:70vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.79);
    display: flex;
    justify-content: center;
}
/* todo container */
.todo-container{
    width:40vw;
    height:100%;
    background-color: white;
    overflow: hidden;
}
.todo-container h1{
    color: rgba(0, 0, 0, 0.493);
    text-align: center;
}

.description-cont{
      width:100%;
      height:10%;
      /* border:1px solid gray; */
      margin-bottom:10px;
      padding:1rem;
}
.description-cont *{
    margin-left:10px;
}
.description-cont span{
    color: rgba(0, 0, 0, 0.493);
    font-size:1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}
.description-cont input{
    width:95%;
    font-size:1rem;
    border:none;
    padding:0.5rem;
}
.description-cont input:focus,textarea:focus,selec:focus{
    outline: none;
}

.description-cont:hover{
    background-color: rgba(128, 128, 128, 0.317);
}
/* Category and Due container */
.category-due-container{
    width:100%;
    height: 10%;
    border:1px solid gray;
    display: flex;
}

/* category container */
.category-cont{
    width:50%;
    height:100%;
    padding:1rem;
   
}



.category-cont span{
    margin-left:10px;
    color:rgba(0, 0, 0, 0.584);
    font-weight: bold;
    font-family: sans-serif;
}

.category-cont:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.397);
}

.category-name-container{
    display: flex;
    justify-content: space-between;
}

/* category list */
#categories{
    width:20vw;
    font-size:1.2rem;
    border:none;
    
    
}
#categories:hover{
    cursor: pointer;
}
#categories:focus{
    outline: none;
}


/* due container */
.due-container{
    width:50%;
    height:100%;
    padding:1rem;
    /* border:1px solid gray; */
}
.due-container:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.301);
}
.due-container span{
    margin-left:10px;
    color:rgba(0, 0, 0, 0.489);
    font-weight: bold;
    font-size: 1.2rem;
}
.due-container input{
    margin-left:10px;
    color:rgba(0, 0, 0, 0.489);
    font-weight: bold;
    
}
.due-container input:hover{
   cursor: pointer;
}
/* Buttons container */
.btnsContainer{
    width:100%;
    height:8vh;
    
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.addTask {
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    background-color: rgba(0, 128, 0, 0.804);
    margin-right: 15px;
}
.addTask:hover{
    cursor: pointer;
}
.deleteTask{
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    background-color: rgba(255, 0, 0, 0.804);
}

.deleteTask:hover{
    cursor: pointer;
}
/* Task List Cont */
.todoListContainer{
    height:auto;
}
.itemListCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;

}
.taskListCont{
    list-style: none;
   
}
.task-name-cont{
    margin-left:-250px;
    border:2px solid grey;
    width:10vw;
}

.taskCategory{
    width:5vw;
    height:5vh;
    border:2px solid red;
    background-color: purple;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.taskCategory span{
     color:white;
     font-size:1.2rem;
     /* text-align: center; */
    
}
.task-check-box{
    margin-left: -10px;
    width:2vw;
    height:3vh;
    border:2px solid red;
}
.task-description{
   font-weight: bold;
}